*,
*::before,
*::after {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

body {
    text-align: center;
}

h4 {
    display: none;
}

nav li {
    list-style: none;
    text-decoration: none;
    display: inline-flex;
}

.btn {
    padding: 1.5rem;
}